<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>


</head>
<body >
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PaperData</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index">主页</a></li>
            <li><a href="/user/oasisAdvanced">高级搜索</a></li>
            <li><a href="/user/researchAnalysis">热点分析</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h3 class="text-center">PaperData</h3>
    <div class="movie-on-list card">

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Top Author</h3>
                        <ul class="author-on-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Top Affiliation</h3>
                        <ul class="aff-on-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Top Journal</h3>
                        <ul class="journal-on-list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Top Conference</h3>
                        <ul class="conference-on-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/echarts.js"></script>
<script src="/js/request.js"></script>
</body>
</html>
